@import '../../styles/dev-core';

.wrapper {
  @include flex-container(row nowrap justify-content align-center);
}

.aside {
  width: 300px;
  height: 100vh;
  background-color: $grey-1;
  @include container;
}

.view {
  width: calc(100vw - 300px);
}

.section {
  .section__title-wrap {
    position: relative;
    height: 300px;
    @include background(
      'https://t1.daumcdn.net/cfile/tistory/994C2F4B5F97A98705'
    );

    &:before {
      @include pseudo;
      width: 100%;
      height: 100%;
      background-color: rgba(black, 0.2);
    }

    .section__title {
      position: absolute;
      color: $white;
      @include centeringXY;
    }
  }

  .section__content {
    @include container;
  }
}
