extends ../../templates/layouts/base
block header
  +header('docs')

block content
  .wrapper
    aside.aside
      nav.nav
        ul
          li
            button Getting started
            div
              ul
                li
                  a(href='#introduction') Introduction
                li
                  a(href='#ESnext') ESnext(with Babel)
                li
                  a(href='#TypeScript') TypeScript
                li
                  a(href='#Webpack') Webpack
          li
            button Customize
            div
              ul
                li
                  a(href='#introduction') Sass
                li
                  a(href='#introduction') Component
                li
                  a(href='#introduction') Option
    .view
      #introduction
        h1 hello
