mixin footer
  footer#footer.footer Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nemo laboriosam odit necessitatibus magnam, accusamus vel molestiae libero tenetur aliquid, deleniti ratione amet? Nobis laboriosam ut, illum quo quibusdam laudantium?
