mixin menuItem(page)
  nav.nav
    a.nav__link(class=(page === 'index') ? 'active' : '' href='./' title='index') LOGO
    a.nav__link(class=(page === 'about') ? 'active' : '' href='./about.html' title='about') about
    a.nav__link(class=(page === 'about') ? 'active' : '' href='./work.html' title='work') work
    a.nav__link(class=(page === 'contact') ? 'active' : '' href='./contact.html' title='CONTACT') contact
