@import './_variables_color';
@import './_variables_breakpoint';
@import './_variables_typeface';

//* Unit Base Font Size
$base-em-size: 16px !default;
$base-rem-size: 16px !default;

// *Root Font Size
// Root
$root-font-size: 62.5%;

// Body Default Settings
$body-text-color: $base-color-grey-7;
$body-font-size: 1.6rem;
$body-font-weight: 400;
$body-font-family: $base-font;
$body-letter-spacing: $base-font-letter-spacing;
$body-line-height: 1.5;
$body-background-color: $white;

// *Responsive Base Heading Element Font Size
$base-font-sizes-h1: (
  $bp-min-xs: (
    1.6rem
  ),
  $bp-min-md: (
    1.6rem
  ),
  $bp-min-lg: (
    1.6rem
  ),
);
$base-font-sizes-h2: (
  $bp-min-xs: (
    1.6rem
  ),
  $bp-min-md: (
    1.6rem
  ),
  $bp-min-lg: (
    1.6rem
  ),
);
$base-font-sizes-h3: (
  $bp-min-xs: (
    1.6rem
  ),
  $bp-min-md: (
    1.6rem
  ),
  $bp-min-lg: (
    1.6rem
  ),
);
$base-font-sizes-h4: (
  $bp-max-md: (
    1.6rem
  ),
  $bp-min-lg: (
    1.6rem
  ),
);
$base-font-sizes-h5: (
  $bp-min-xs: (
    1.6rem
  )
);
$base-font-sizes-h6: (
  $bp-min-xs: (
    1.6rem
  )
);

// *Responsive Base Custom Font Size
$base-font-sizes: (
  $bp-max-sm: (
    1.6rem,
  ),
  $bp-min-md: (
    1.6rem
  ),
);

$base-font-sizes-title: (
  $bp-min-xs: (
    1.6rem
  ),
  $bp-min-md: (
    1.6rem
  ),
  $bp-min-lg: (
    1.6rem
  ),
);

$base-font-sizes-sub-title: (
  $bp-min-xs: (
    1.6rem
  ),
  $bp-min-md: (
    1.6rem
  ),
  $bp-min-lg: (
    1.6rem
  ),
);
