$buttons: (
  data-type: (
    contained: 'contained',
    outlined: 'outlined',
    outlined-reverse: 'outlined-reverse',
    text: 'text',
    round: 'round',
    round-reverse: 'round-reverse',
  ),
);
