@use 'sass:math';

@mixin ratio($x, $y: 0, $pseudo: false, $width: 100%, $height: false) {
  position: relative;
  display: block;
  overflow: hidden;
  @if $width {
    width: $width;
  }
  @if $height {
    height: $height;
  }

  @if $pseudo {
    $padding: unquote(math.div($y, $x) * 100 + '%');
    &:before {
      @include pseudo($pos: relative);
      padding-top: $padding;
    }
  } @else if $x == 'golden' {
    &:before {
      @include pseudo($pos: relative);
      padding-top: 61.80469715698393%;
    }
  } @else if $x == 'golden-vertical' {
    &:before {
      @include pseudo($pos: relative);
      padding-top: 161.6666666666667%;
    }
  } @else if $x == 'silver' {
    &:before {
      @include pseudo($pos: relative);
      padding-top: 57.73672055427252%;
    }
  } @else if $x == 'silver-vertical' {
    &:before {
      @include pseudo($pos: relative);
      padding-top: 141.3333333333333%;
    }
  } @else if $x == 'bronze' {
    &:before {
      @include pseudo($pos: relative);
      padding-top: 30.27550711474417%;
    }
  } @else if $x == 'bronze-vertical' {
    &:before {
      @include pseudo($pos: relative);
      padding-top: 330.3333333333333%;
    }
  }
}
