@mixin background($url, $size: cover, $repeat: no-repeat, $position: center) {
  @if $url {
    background-image: url($url);
  }
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}
