{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src",
          "assets": "./src/assets",
          "styles": "./src/assets/styles",
          "images": "./src/assets/images",
          "videos": "./src/assets/videos",
          "scripts": "./src/assets/scripts"
        }
      }
    ]
  ]
}
