{
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "prettier/prettier"],
  "rules": {
    // "prettier/prettier": "error"
    "no-undefined": false
  },
  "env": {
    "browser": true,
    "es2021": true,
    "commonjs": true
  }
}
