{
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "prettier/prettier"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    // "prettier/prettier": "error"
    "no-undefined": 0
  },
  "env": {
    "browser": true,
    "es2021": true,
    "commonjs": true,
    "jquery": true
  }
}
