extends ../../templates/layouts/base
block header
  +header('sample')

block content
  .c-accordion.test
    .c-accordion__wrapper
      .c-accordion__content-wrapper
        .c-accordion__content.js-accordion
          .c-accordion__content-title
            span.c-accordion__plus
            p.u-a1.
              2012.

          .c-accordion__content-main.js-content.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices volutpat pellentesque. Nullam et consectetur enim. Sed at nulla vel quam lobortis fringilla in accumsan erat. Pellentesque mattis elit purus, nec volutpat mauris mattis eu. Nulla volutpat, tellus vitae consectetur sodales, mi eros volutpat dui, eu suscipit libero mi ac leo.

        .c-accordion__content.js-accordion
          .c-accordion__content-title
            span.c-accordion__plus
            p.u-a1.
              2012.

          .c-accordion__content-main.js-content.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices volutpat pellentesque. Nullam et consectetur enim. Sed at nulla vel quam lobortis fringilla in accumsan erat. Pellentesque mattis elit purus, nec volutpat mauris mattis eu. Nulla volutpat, tellus vitae consectetur sodales, mi eros volutpat dui, eu suscipit libero mi ac leo.

        .c-accordion__content.js-accordion
          .c-accordion__content-title
            span.c-accordion__plus
            p.u-a1.
              2012.

          .c-accordion__content-main.js-content.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices volutpat pellentesque. Nullam et consectetur enim. Sed at nulla vel quam lobortis fringilla in accumsan erat. Pellentesque mattis elit purus, nec volutpat mauris mattis eu. Nulla volutpat, tellus vitae consectetur sodales, mi eros volutpat dui, eu suscipit libero mi ac leo.

        .c-accordion__content.js-accordion
          .c-accordion__content-title
            span.c-accordion__plus
            p.u-a1.
              2012.

          .c-accordion__content-main.js-content.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices volutpat pellentesque. Nullam et consectetur enim. Sed at nulla vel quam lobortis fringilla in accumsan erat. Pellentesque mattis elit purus, nec volutpat mauris mattis eu. Nulla volutpat, tellus vitae consectetur sodales, mi eros volutpat dui, eu suscipit libero mi ac leo.
  p 테스트2
  .c-accordion.test2
    .c-accordion__wrapper
      .c-accordion__content-wrapper
        .c-accordion__content.js-accordion
          .c-accordion__content-title
            span.c-accordion__plus
            p.u-a1.
              2012.

          .c-accordion__content-main.js-content.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices volutpat pellentesque. Nullam et consectetur enim. Sed at nulla vel quam lobortis fringilla in accumsan erat. Pellentesque mattis elit purus, nec volutpat mauris mattis eu. Nulla volutpat, tellus vitae consectetur sodales, mi eros volutpat dui, eu suscipit libero mi ac leo.

        .c-accordion__content.js-accordion
          .c-accordion__content-title
            span.c-accordion__plus
            p.u-a1.
              2012.

          .c-accordion__content-main.js-content.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices volutpat pellentesque. Nullam et consectetur enim. Sed at nulla vel quam lobortis fringilla in accumsan erat. Pellentesque mattis elit purus, nec volutpat mauris mattis eu. Nulla volutpat, tellus vitae consectetur sodales, mi eros volutpat dui, eu suscipit libero mi ac leo.

        .c-accordion__content.js-accordion
          .c-accordion__content-title
            span.c-accordion__plus
            p.u-a1.
              2012.

          .c-accordion__content-main.js-content.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices volutpat pellentesque. Nullam et consectetur enim. Sed at nulla vel quam lobortis fringilla in accumsan erat. Pellentesque mattis elit purus, nec volutpat mauris mattis eu. Nulla volutpat, tellus vitae consectetur sodales, mi eros volutpat dui, eu suscipit libero mi ac leo.

        .c-accordion__content.js-accordion
          .c-accordion__content-title
            span.c-accordion__plus
            p.u-a1.
              2012.

          .c-accordion__content-main.js-content.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices volutpat pellentesque. Nullam et consectetur enim. Sed at nulla vel quam lobortis fringilla in accumsan erat. Pellentesque mattis elit purus, nec volutpat mauris mattis eu. Nulla volutpat, tellus vitae consectetur sodales, mi eros volutpat dui, eu suscipit libero mi ac leo.
