extends ../../templates/layouts/base
block header
  +header('project')

block content
  p project
  a(href='./project/projectOne.html')
    img.img(
      src='https://images.pexels.com/photos/5207262/pexels-photo-5207262.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=900',
      alt
    )
