@charset "utf-8";

@font-face {
  font-family: nsT;
  src: url('../../assets/fonts/NotoSans-Thin.eot');
  src: local(※),
    url('../../assets/fonts/NotoSans-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/NotoSans-Thin.woff') format('woff'),
    url('../../assets/fonts/NotoSans-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ns;
  src: url('../../assets/fonts/NotoSans-Light.eot');
  src: local(※),
    url('../../assets/fonts/NotoSans-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/NotoSans-Light.woff') format('woff'),
    url('../../assets/fonts/NotoSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: ns;
  src: url('../../assets/fonts/NotoSans-Regular.eot');
  src: local(※),
    url('../../assets/fonts/NotoSans-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/NotoSans-Regular.woff') format('woff'),
    url('../../assets/fonts/NotoSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ns;
  src: url('../../assets/fonts/NotoSans-Medium.eot');
  src: local(※),
    url('../../assets/fonts/NotoSans-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/NotoSans-Medium.woff') format('woff'),
    url('../../assets/fonts/NotoSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: ns;
  src: url('../../assets/fonts/NotoSans-Bold.eot');
  src: local(※),
    url('../../assets/fonts/NotoSans-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/NotoSans-Bold.woff') format('woff'),
    url('../../assets/fonts/NotoSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Reset */

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #111;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #111;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  font-family: ns, Arial, dotum;
  font-weight: 400;
  word-break: break-all;
  vertical-align: top;
}

/* body {background:#282828;} */

div,
form,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
em,
p,
span,
textarea,
pre,
label,
fieldset,
th,
td,
button,
a,
input,
select,
hr {
  margin: 0;
  padding: 0;
  font-family: ns, Arial, dotum;
  font-weight: 400;
  word-break: break-all;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th {
  font-weight: normal;
}

em,
span,
strong,
a,
button,
i {
  font-size: 100%;
  outline: none;
}

em,
address {
  font-style: normal;
}

ol,
ul,
dl {
  list-style: none;
}

fieldset,
img,
hr,
button {
  border: 0;
}

img,
input,
textarea,
select {
  vertical-align: top;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

legend,
caption {
  overflow: hidden;
  width: 0;
  height: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

a {
  color: #2c2c2c;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  background: none;
  border-radius: 0;
  cursor: pointer;
  outline: none;
}

input,
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
}

/* 모바일 한정 */

input[type='text'] {
  border: none;
  background: none;
  outline: none;
  font-family: nsR;
  font-size: 18px;
  color: #333;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: #333;
}

/* input[type="text"]::placeholder {font-family:nsR;font-size:18px;color:#333;} */

input {
  &[type='text']::-ms-clear,
  &[type='password']::-ms-clear,
  &[type='text']::-ms-reveal,
  &[type='password']::-ms-reveal {
    display: none;
  }
}

.blind {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.clfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

/* ::-webkit-scrollbar {display:none;} */

.center {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#wrap {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  font-size: 0;
}

.dim {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.63);
  opacity: 0;
  transform-origin: 50% 50%;
}

.btnChangeLang {
  width: 30px;
  height: 25px;
  display: block;
  background: url(../../assets/images/work/ico_change_lang.png) center center
    no-repeat;
}

.btnTop {
  width: 59px;
  height: 59px;
  display: block;
  position: absolute;
  top: -75px;
  right: 90px;
  background: url(../../assets/images/work/btn_stop.png) center center no-repeat;
  background-size: 100% auto;
}

/* 헤더 */

#header {
  width: 100%;
  max-height: 82px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  transition: 300ms background ease-out;
  overflow: hidden;

  .bg {
    width: 100%;
    height: 382px;
    display: block;
    position: absolute;
    top: 82px;
    left: 0;
    z-index: -1;
    background-color: #fafafa;
    transform-origin: 50% 0;
    transform: scaleY(0);
  }

  &.on {
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
  }

  .inner > * {
    display: inline-block;
    margin-left: 84px;

    &:first-child {
      margin-left: 0;
      vertical-align: middle;
    }
  }

  .logo a {
    width: 136px;
    height: 32px;
    display: block;
    padding: 25px 0;
    background: url(../../assets/images/work/logo.png) center center no-repeat;
    text-indent: -9999px;
    overflow: hidden;
  }

  #nav {
    font-size: 0;
    position: relative;
    z-index: 11;
    overflow: hidden;

    .menuList {
      font-size: 0;
      float: left;

      > * {
        display: inline-block;
        position: relative;
        margin-left: 7px;
        overflow: hidden;

        &:first-child {
          margin-left: 0;
        }
      }

      .menu {
        > a {
          width: 135px;
          display: block;
          padding: 30px 0;
          box-sizing: border-box;
          font-size: 18px;
          color: #fff;
          text-align: center;
        }

        .depth02 {
          margin: 32px 0 41px;

          > li {
            margin-top: 22px;
            opacity: 0;
            transform: translateY(100%);

            &:first-child {
              margin-top: 0;
            }

            > a {
              display: block;
              font-size: 16px;
              font-weight: 100;
              color: #444;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .btnChangeLang {
    margin-left: 103px;
    padding: 41px 0;
    float: right;
  }

  &.on {
    .logo a {
      background: url(../../assets/images/work/logo_on.png) center center
        no-repeat;
    }

    #nav .menuList .menu {
      overflow: visible;

      > a {
        color: #111;

        &:hover {
          font-weight: 700;
          color: #224fb7;
        }
      }

      .depth02 > li > a:hover {
        color: #224fb7;
      }
    }

    .btnChangeLang {
      background: url(../../assets/images/work/ico_change_lang_on.png) center
        center no-repeat;
    }
  }
}

#container {
  width: 100%;
}

.sub #container .contents {
  padding-top: 187px;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #ddd;
}

#container .mainVisual {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.mainVisual {
  .swiper-container-main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .swiper-wrapper {
      width: 100%;
      height: 100%;
      font-size: 0;
      line-height: 0;
      white-space: nowrap;

      .swiper-slide {
        width: 100%;
        height: 100%;
        display: inline-block;
        position: relative;
        overflow: hidden;

        &:before {
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: rgba(0, 0, 0, 0.2)
            url(../../assets/images/work/bg_dotte.png) 0 0 repeat;
        }
      }
    }

    .swiper-container-util {
      display: inline-block;
      position: absolute;
      bottom: 60px;
      left: 50%;
      z-index: 2;
      font-size: 0;
      transform: translateX(-50%);

      > * {
        display: inline-block;
        margin-left: 11px;
        vertical-align: middle;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .swiper-pagination-main {
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-left: 11px;
        border: 1px solid #fff;
        border-radius: 50%;
        vertical-align: middle;
        transition: 350ms width linear, 350ms height linear,
          550ms background linear, 550ms border linear;

        &:first-child {
          margin-left: 0;
        }
      }

      .swiper-pagination-bullet-active {
        width: 16px;
        height: 16px;
        border-color: #224fb7;
        background-color: #224fb7;
      }
    }
  }

  .videoWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    video {
      width: 100vw;
    }
  }

  .txtWrap {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    text-align: center;
    transform: translate(-50%, -50%);

    > * {
      line-height: 1.2;
    }

    .visualTit {
      display: inline-block;
      position: relative;
      font-size: 0;

      > {
        * {
          display: inline-block;
          margin-left: 27px;
          font-size: 100px;
          color: #fff;
          opacity: 0;

          &:first-child {
            margin-left: 0;
          }
        }

        span {
          font-weight: 300;
          transform: translateY(50%);
        }

        em {
          font-weight: 700;
        }
      }
    }

    > .visualTxt {
      margin-top: 33px;
      font-size: 26px;
      color: #e4e2e1;
      text-align: center;
      line-height: 1.3;
      opacity: 0;
      transform: translateY(15%);
    }
  }

  .btnAutoplayToggle {
    width: 10px;
    height: 16px;
    display: inline-block;
    background: url(../../assets/images/work/btn_stop.png) 0 0 no-repeat;
    background-size: 100% auto;

    &.on {
      background: url(../../assets/images/work/btn_play.png) 0 0 no-repeat;
      background-size: 100% auto;
    }
  }
}

.contents .section {
  padding: 120px 0;
  box-sizing: border-box;
}

.section {
  &.bgImage {
    width: 100%;
    background: url(../../assets/images/work/bg_image.png) 0 0 no-repeat;
    background-size: 100% 860px;

    .tit {
      color: #fff;
    }
  }

  .tit {
    font-size: 65px;
    font-weight: 700;
    text-align: center;

    + .txt {
      margin-top: 35px;
      font-size: 20px;
      color: #777;
      text-align: center;
    }
  }

  &.subSection {
    margin-top: 130px;
    padding: 60px 0;
    box-sizing: border-box;
    position: relative;
    background-color: #f5f5f5;
  }
}

.subSection {
  .txtWrap,
  .newsList {
    display: inline-block;
    font-size: 0;
  }

  .txtWrap {
    .tit {
      font-size: 40px;
      font-weight: 700;
      text-align: left;
    }

    .txt {
      margin-top: 40px;
      font-size: 18px;
      color: #777;
      text-align: left;
      line-height: 1.5;
      transform: translateY(100%);
      opacity: 0;
    }

    .btnMore {
      display: block;
      margin-top: 69px;
      transform: translateY(100%);
      opacity: 0;

      > span {
        font-size: 20px;
        color: #111;
        vertical-align: middle;
      }

      &:after {
        content: '';
        width: 13px;
        height: 13px;
        display: inline-block;
        margin-left: 10px;
        background: url(../../assets/images/work/ico_plus_ty_02.png) 0 0
          no-repeat;
        vertical-align: middle;
      }
    }
  }

  .newsList {
    margin-left: 50px;

    > .news {
      display: inline-block;
      margin-left: 12px;

      &:first-child {
        margin-left: 0;
      }
    }

    .news {
      transform-origin: 50% 100%;
      transform: scaleY(0);

      > a {
        display: block;
        position: relative;
        overflow: hidden;

        > .box {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          background-color: #fff;
        }
      }
    }
  }

  .stock {
    position: absolute;
    right: 0;
    bottom: -60px;
    transform-origin: 50% 100%;
    transform: scaleY(0);
    overflow: hidden;

    .box {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #224fb7;
    }
  }
}

.icoWrap {
  width: 100%;
  margin-top: 80px;

  .icoList .ico {
    .value {
      display: block;
      margin-top: 30px;
      font-size: 30px;
      font-weight: 500;
      transform: translateY(100%);
      opacity: 0;
    }

    .description {
      margin-top: 30px;
      font-size: 20px;
      transform: translateY(35%);
      opacity: 0;
    }
  }
}

.tableWrap .row {
  width: 100%;
  display: table;
  table-layout: fixed;

  .col {
    display: table-cell;
    position: relative;
    text-align: center;
    overflow: hidden;
  }
}

.section .tab {
  margin-top: 50px;
}

.productInfo {
  width: 100%;
  margin-top: 87px;
  overflow: hidden;

  .detail {
    float: left;

    > * {
      transform: translateY(100%);
      opacity: 0;
    }

    .eng {
      display: block;
      font-size: 20px;
      letter-spacing: 10px;
      color: #fff;
    }

    .name {
      display: block;
      margin-top: 25px;
      font-size: 60px;
      font-weight: 700;
      color: #fff;
    }

    .description {
      margin-top: 60px;
      font-size: 20px;
      color: #fff;
      line-height: 1.5;
    }

    .btnMore {
      display: block;
      margin-top: 80px;

      > span {
        font-size: 20px;
        color: #fff;
        vertical-align: middle;
      }

      &:after {
        content: '';
        width: 13px;
        height: 13px;
        display: inline-block;
        margin-left: 10px;
        background: url(../../assets/images/work/ico_plus.png) 0 0 no-repeat;
        vertical-align: middle;
      }
    }
  }

  .thumb {
    position: relative;
    box-shadow: -5px 5px 14px 0px rgba(0, 0, 0, 0.2);
    float: right;
    transform: scaleY(0);
    transform-origin: 50% 100%;

    .box {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #224fb7;
    }
  }
}

.recruitWrap {
  margin-top: 80px;

  .recruit {
    transform: scaleY(0);
    transform-origin: 50% 100%;

    > a {
      display: block;
      position: relative;
      overflow: hidden;

      > {
        span {
          display: block;
        }

        p {
          display: inline-block;
          position: absolute;
          left: 50%;
          bottom: 30px;
          transform: translateX(-50%);

          > span {
            display: inline-block;
            font-size: 30px;
            font-weight: 500;
            color: #fff;
            vertical-align: middle;
            transform: translateY(35%);
            opacity: 0;

            &:after {
              content: '';
              width: 12px;
              height: 21px;
              display: inline-block;
              margin-left: 15px;
              background: url(../../assets/images/work/arrow.png) 0 0 no-repeat;
              vertical-align: middle;
            }
          }
        }
      }

      .box {
        width: 370px;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;
        background-color: #224fb7;
        transform: translateX(-50%);
      }
    }
  }
}

.tabContainer {
  width: 100%;
  height: 1100px;
  margin-top: 120px;
}

.tabWrap {
  width: 100%;
  position: relative;
  font-size: 0;

  .tab {
    width: 19%;
    display: inline-block;

    .btnTab {
      width: 100%;
      display: block;
      padding: 18.5px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      font-size: 18px;
      color: #777;
      text-align: center;
    }

    .tabCon {
      width: 100%;
      height: 600px;
      display: none;
      padding-top: 70px;
      box-sizing: border-box;
      position: absolute;
      top: 64px;
      left: 0;
      text-align: center;
    }

    .tabTit {
      display: block;
      font-size: 40px;
      font-weight: 500;
      color: #111;
      transform: translateY(25%);
      opacity: 0;
    }

    .coreTxt {
      display: block;
      margin-top: 30px;
      font-size: 25px;
      color: #444;
      transform: translateY(35%);
      opacity: 0;
    }

    .description {
      margin-top: 30px;
      font-size: 16px;
      color: #777;
      transform: translateY(35%);
      opacity: 0;
    }

    .conBox {
      margin-top: 60px;

      .img {
        position: relative;
        overflow: hidden;
      }

      .scale {
        transform-origin: 50% 100%;
        transform: scaleY(0);
      }

      .opacity {
        opacity: 0;
      }

      .box {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #224fb7;
      }
    }

    .col .box {
      width: 373px;
      left: 50%;
      transform: translateX(-50%);
    }

    &.on {
      .btnTab {
        border-color: #224fb7;
        font-weight: 700;
        color: #224fb7;
      }

      .tabCon {
        display: block;
      }
    }
  }
}

.locationWrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;

  .location {
    display: inline-block;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
  }

  .btnHome {
    width: 65px;
    height: 65px;
    background: url(../../assets/images/work/icoHome.png) center center
      no-repeat;
  }
}

.toggle {
  width: 220px;
  position: relative;

  > button {
    width: 100%;
    display: block;
    padding: 21px 25px;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    color: #444;
    text-align: left;

    &:after {
      content: '';
      width: 10px;
      height: 5px;
      display: block;
      position: absolute;
      top: 50%;
      right: 25px;
      background: url(../../assets/images/work/btnDown.png) 0 0 no-repeat;
      transform: translateY(-50%);
    }
  }

  &.on > button {
    background-color: #224fb7;
    color: #fff;

    &:after {
      background: url(../../assets/images/work/btnDown_on.png) 0 0 no-repeat;
    }
  }

  .toggleList {
    width: 220px;
    display: none;
    padding: 30px 0;
    box-sizing: border-box;
    position: absolute;
    top: 66px;
    left: 0;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #ddd;

    li {
      margin-top: 25px;

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      display: block;
      padding: 0 24px;
      box-sizing: border-box;
      font-size: 16px;
      color: #444;
    }

    li.on a {
      color: #224fb7;
    }
  }

  &.on .toggleList {
    display: block;
  }
}

.sub .contents {
  .tit {
    font-size: 60px;
    font-weight: 700;
    color: #111;
    text-align: center;
    transform: translateY(35%);
    opacity: 0;
  }

  .subTit {
    margin-top: 23px;
    font-size: 25px;
    font-weight: 300;
    color: #111;
    text-align: center;
    transform: translateY(35%);
    opacity: 0;
  }
}

.contents .subTit + .line {
  width: 33px;
  height: 3px;
  display: block;
  margin: 30px auto 0;
  background-color: #9f9f9f;
  transform: scaleX(0);

  + * {
    margin-top: 80px;
  }
}

.flWrap {
  overflow: hidden;

  > * {
    display: block;

    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;
    }
  }
}

.txtWrap {
  .txt {
    font-size: 27px;
    color: #111;
    transform: translateY(15%);
    opacity: 0;
  }

  .subTxt {
    margin-top: 34px;
    font-family: nsT;
    font-size: 18px;
    color: #444;
    transform: translateY(15%);
    opacity: 0;
  }
}

.contents {
  section {
    margin-top: 80px;

    &:last-child {
      margin-top: 213px;
    }

    h3 {
      font-size: 40px;
      font-weight: 500;
      color: #111;
      text-align: center;
    }
  }

  .anime h3 {
    transform: translateY(35%);
    opacity: 0;
  }

  section {
    .con {
      margin-top: 60px;
      position: relative;
      text-align: center;
    }

    .visualTxt {
      position: relative;
      transform: scaleY(0);
      transform-origin: 50% 100%;
      overflow: hidden;
    }

    .box {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #224fb7;
    }

    .description {
      margin-top: 35px;
      font-size: 18px;
      color: #666;
      text-align: center;
      transform: translateY(35%);
      opacity: 0;
    }

    .imgWrap {
      transform: translate(-360px, 1px);
    }

    .txtWrap {
      position: absolute;

      > .title {
        display: block;
        margin-bottom: 40px;
        font-size: 22px;
        color: #111;
        transform: translateY(35%);
        opacity: 0;
      }

      .text {
        display: block;
        font-family: nsT;
        font-size: 16px;
        color: #666;
        text-align: left;
        transform: translateY(35%);
        opacity: 0;

        &:before {
          content: '';
          width: 4px;
          height: 4px;
          display: inline-block;
          margin-right: 7px;
          background: url(../../assets/images/work/bullet.png) 0 0 no-repeat;
          vertical-align: middle;
        }
      }

      > .text {
        margin-top: 14px;
      }

      .title + .text {
        margin-top: 0;
      }
    }

    .txtWrap01 {
      left: 652px;
      top: -37px;
    }

    .txtWrap02 {
      left: 192px;
      top: 125px;
    }

    .txtWrap03 {
      left: 878px;
      top: 220px;
    }

    .txtWrap04 {
      left: 193px;
      top: 487px;
    }

    .txtWrap05 {
      left: 793px;
      top: 488px;
    }
  }
}

#footer {
  width: 100%;
  position: relative;
  background-color: #333;

  &:before {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    left: 0;
    top: 77px;
    background-color: #444;
  }
}

@media screen and (max-width: 1200px) {
  #container .mainVisual {
    height: 675px;
  }
}
