html {
  --color: #999;
}

body {
  lost-utility: overlay 1600px 12 20px var(--color);
}

.wrap {
  lost-utility: edit;
  lost-center: 1600px;

  div {
    lost-utility: edit rgba(15, 150, 25, 0.5);
    lost-column: 1/3;
  }
}

.img {
  width: 400px;
}
