@import '../dev-core';

button,
input,
textarea,
select {
  transition: 0.3s ease-out;
}

button {
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  text-decoration: none;

  // Firefox 점선 제거
  &::-moz-focus-inner {
    border: 0;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

input,
textarea,
select {
  display: inline-block;
  min-height: 40px;
  padding: $base-input-padding;
  text-align: left;
  user-select: none;
  font-weight: normal;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 5px;
  background-color: white;
  border: 1px solid $base-grey;
  cursor: pointer;
}
