@import '../../../styles/core/core';

.section-main {
  .title-wrap {
    position: relative;
    height: 500px;
    @include background('../../../assets/images/the-last-supper.jpg');
    &::before {
      @include pseudo();
      width: 100%;
      height: 100%;
      background-color: rgba($color: $black, $alpha: 0.3);
    }
    .section__title {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 10px 20px;
      color: $white;
      font-size: 40px;
      text-transform: uppercase;
      background-color: $black;
      border: 5px solid $white;
      transform: translate(-50%, -50%);
    }
  }
  .inner {
    @include lost-center-set;

    .txt-wrap {
      @include container;
      @include bp-min(sm) {
        padding-right: 15px;
        padding-left: 15px;
        lost-column: 1/1;
      }
      @include bp-min(lg) {
        lost-column: 1/2;
      }

      p + p {
        margin-top: 10px;
      }
    }
  }
}
