$theme-atom: (
  color: (
    main: rebeccapurple,
    sub: $white,
  ),
  body: (
    bg: $white,
  ),
  header: (
    bg: rebeccapurple,
  ),
  button: (
    data-type: map-get($buttons, data-type),
  ),
);
