$theme-atom: (
  color: (
    main: $deep-purple-5,
    sub: $white,
  ),
  body: (
    bg: $white,
  ),
  header: (
    bg: $deep-purple-5,
  ),
  button: (
    data-type: map-get($buttons, data-type),
  ),
);
