$theme-base: (
  color: (
    main: $main-color,
    sub: $sub-color,
  ),
  body: (
    bg: $sub-color,
  ),
  header: (
    bg: $main-color,
  ),
  button: (
    data-type: map-get($buttons, data-type),
  ),
);
