/* START : style.scss */
@import './core/core.scss';
$fa-font-path: '../../node_modules/@fortawesome/fontawesome-free/webfonts';

body {
  @include scrollbar(black);
  @include selection {
    color: $sub-color;
    background-color: $main-color;
  }

  overflow-x: hidden;
}

.page__title {
  text-align: center;
}

.section__title {
  font-weight: 600;
  font-family: 'Open Sans';
}

.code-wrap {
  code {
    &::before {
      @include pseudo($content: '$');
      left: 0;
    }
  }
}

#header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  background-color: $main-color;

  .nav {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
    width: 100%;
    max-width: $bp-max-xl;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    transform: translateX(-50%);
    @include bp-max(sm) {
      @include flex-container(row nowrap flex-start items-center);
    }
    @include bp-min(md) {
      @include flex-container(row wrap flex-start items-center);
    }

    &.on {
      @include bp-max(sm) {
        .nav__link-wrap {
          top: 80px;

          .nav__link {
            color: $white;
          }
        }
        .nav__dim {
          width: 100vw;
          height: 100vh;
          opacity: 1;
        }
      }
    }

    .nav__dim {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      background-color: rgba($black, 0.5);
      opacity: 0;
    }

    .nav__logo {
      position: relative;
      width: 60px;
      height: 60px;
      margin-right: 10px;
      background-color: white;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='60px' height='60px' viewBox='0 0 1000.000000 1000.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,1000.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M4720 9893 c-239 -14 -566 -60 -799 -113 -73 -16 -135 -30 -136 -30%0A-4 0 22 -98 110 -425 94 -352 77 -311 133 -319 56 -7 129 -50 161 -94 77 -109%0A64 -241 -32 -335 -49 -48 -50 -49 -39 -85 9 -30 248 -923 283 -1053 7 -27 16%0A-39 35 -43 62 -16 114 -82 114 -143 0 -27 -27 -91 -51 -123 -8 -12 11 -98 86%0A-375 87 -324 99 -363 125 -387 36 -33 46 -69 31 -116 -11 -34 -5 -62 73 -352%0A46 -173 89 -334 96 -357 6 -26 17 -43 25 -43 13 0 15 277 15 2200 l0 2200 -87%0A-2 c-49 -1 -113 -3 -143 -5z'/%3E%3Cpath d='M5050 7703 c0 -2156 0 -2201 19 -2206 14 -3 20 1 24 17 2 11 46 175%0A96 363 87 321 91 344 77 365 -30 42 -10 114 36 135 22 10 33 42 102 299 43%0A159 87 324 99 368 20 74 20 79 3 88 -23 13 -55 84 -56 121 0 47 36 105 80 127%0A21 11 46 20 54 20 9 0 19 15 25 38 38 143 238 888 263 981 30 110 31 114 12%0A124 -66 36 -124 137 -124 218 0 122 98 231 219 246 34 4 52 11 56 22 2 9 45%0A167 95 351 83 307 97 370 86 370 -2 0 -64 14 -137 30 -269 62 -580 103 -876%0A116 l-153 7 0 -2200z'/%3E%3Cpath d='M3475 9656 c-104 -35 -248 -87 -320 -115 -158 -64 -555 -259 -555%0A-273 0 -6 46 -90 102 -187 56 -97 157 -270 224 -386 67 -115 164 -284 216%0A-375 52 -91 121 -210 153 -265 32 -55 90 -156 130 -225 68 -118 321 -556 1008%0A-1745 165 -286 314 -544 331 -572 28 -50 56 -69 56 -40 0 6 -41 169 -92 361%0A-91 340 -94 350 -124 368 -53 31 -66 82 -38 141 16 34 15 39 -61 323 -107 399%0A-114 427 -117 428 -95 44 -100 48 -118 89 -11 23 -20 55 -20 70 0 25 23 78 51%0A117 9 12 -21 135 -126 525 -75 281 -143 534 -151 563 -13 47 -17 52 -42 52%0A-124 0 -242 122 -242 250 0 79 58 182 123 217 18 9 16 20 -32 199 -28 104 -72%0A269 -98 367 -26 97 -52 177 -57 177 -6 0 -96 -29 -201 -64z'/%3E%3Cpath d='M6227 9357 c-53 -199 -97 -367 -97 -373 0 -6 11 -16 24 -22 52 -23%0A106 -126 106 -201 0 -61 -30 -131 -75 -176 -41 -41 -114 -75 -161 -75 -13 0%0A-25 -8 -28 -17 -6 -19 -174 -646 -252 -936 l-47 -177 27 -49 c14 -27 26 -64%0A26 -82 0 -52 -38 -110 -88 -134 -23 -11 -44 -27 -47 -35 -2 -8 -45 -171 -96%0A-362 -88 -331 -92 -349 -79 -387 18 -57 -4 -117 -49 -132 -11 -4 -201 -685%0A-201 -721 0 -47 35 -2 137 175 61 105 211 365 334 577 469 813 817 1415 959%0A1660 81 140 181 314 222 385 41 72 101 175 133 230 32 55 90 156 130 225 40%0A69 125 217 190 329 112 193 117 205 99 218 -47 34 -435 218 -584 276 -124 49%0A-466 167 -484 167 -1 0 -45 -163 -99 -363z'/%3E%3Cpath d='M2366 9132 c-220 -140 -403 -278 -601 -453 -122 -108 -191 -176 -184%0A-183 2 -3 123 -124 268 -270 l264 -265 30 15 c40 21 124 28 173 15 58 -16 118%0A-63 151 -118 24 -41 28 -59 28 -123 0 -51 -6 -85 -17 -106 l-17 -30 412 -412%0A412 -411 46 6 c57 7 110 -16 142 -61 17 -24 22 -45 22 -94 l1 -63 264 -265%0Ac186 -185 272 -264 287 -264 55 0 103 -48 103 -102 0 -31 529 -561 547 -550%0A10 6 -15 56 -88 183 -304 525 -669 1157 -814 1409 -40 69 -265 458 -500 865%0A-235 407 -504 873 -598 1035 -93 162 -175 303 -182 312 -10 16 -25 9 -149 -70z'/%3E%3Cpath d='M7160 8627 c-184 -320 -456 -791 -604 -1047 -147 -256 -354 -613%0A-458 -795 -105 -181 -212 -366 -238 -410 -47 -79 -273 -472 -461 -799 -54 -94%0A-95 -174 -92 -179 3 -5 127 112 274 259 197 197 269 275 269 292 0 55 42 95%0A107 104 14 2 125 105 287 267 l264 263 -5 52 c-9 98 64 171 162 162 l50 -4%0A412 411 412 411 -17 30 c-11 21 -17 55 -17 106 0 64 4 82 28 123 33 55 93 102%0A151 118 49 13 133 6 173 -15 l30 -15 264 265 c145 146 266 267 268 270 16 17%0A-304 295 -541 470 -112 83 -361 244 -375 244 -4 -1 -159 -263 -343 -583z'/%3E%3Cpath d='M1417 8341 c-166 -173 -361 -421 -509 -646 -132 -202 -130 -199 -110%0A-211 9 -6 193 -112 407 -236 215 -124 518 -299 675 -390 157 -90 494 -285 750%0A-433 256 -148 602 -348 770 -445 168 -97 413 -239 545 -315 132 -76 292 -168%0A355 -205 252 -148 294 -170 302 -157 11 18 -520 547 -550 547 -55 0 -102 48%0A-102 103 0 16 -77 99 -265 287 l-265 265 -62 0 c-75 0 -110 19 -140 78 -15 31%0A-19 52 -15 86 l6 46 -411 412 -412 412 -29 -16 c-40 -20 -124 -27 -173 -14%0A-139 37 -218 193 -166 328 l19 51 -269 269 -269 269 -82 -85z'/%3E%3Cpath d='M8229 8157 l-266 -269 19 -51 c52 -135 -27 -291 -166 -328 -49 -13%0A-133 -6 -173 14 l-29 16 -412 -412 -411 -412 6 -46 c11 -98 -65 -174 -168%0A-167 l-49 3 -265 -265 c-195 -194 -265 -271 -265 -288 0 -54 -48 -102 -103%0A-102 -31 0 -560 -529 -548 -549 7 -11 13 -11 32 -1 23 12 356 205 1049 605%0A984 568 1636 945 2330 1345 223 128 407 235 409 236 5 4 -73 131 -153 249%0A-150 222 -342 461 -486 605 l-85 86 -266 -269z'/%3E%3Cpath d='M616 7188 c-57 -117 -134 -287 -169 -378 -65 -165 -173 -488 -166%0A-494 2 -2 168 -47 368 -100 342 -92 365 -97 374 -79 35 65 138 123 217 123%0A128 0 250 -118 250 -242 0 -32 -44 -17 410 -138 168 -45 397 -106 510 -137%0A157 -43 208 -53 220 -44 41 29 92 51 121 51 65 0 128 -49 144 -112 4 -14 14%0A-28 23 -31 10 -2 172 -46 361 -97 338 -90 345 -92 378 -76 59 28 110 15 141%0A-38 18 -30 28 -33 368 -124 192 -51 355 -93 362 -92 41 1 -14 41 -220 160%0A-128 73 -312 180 -408 235 -96 56 -470 272 -830 480 -360 208 -815 470 -1010%0A583 -195 113 -456 264 -580 335 -124 72 -261 151 -305 177 -247 145 -434 250%0A-443 250 -6 0 -58 -96 -116 -212z'/%3E%3Cpath d='M8850 7159 c-228 -132 -476 -275 -550 -318 -74 -43 -281 -163 -460%0A-266 -179 -103 -746 -431 -1260 -728 -1179 -680 -1122 -647 -1117 -660 3 -7 8%0A-12 13 -11 5 1 167 43 361 95 341 90 353 94 364 122 22 53 80 67 154 37 28%0A-11 63 -4 373 79 189 51 350 95 357 97 7 3 16 17 20 31 15 62 81 113 146 113%0A37 0 95 -26 112 -50 11 -16 52 -7 562 131 303 82 558 148 568 149 13 0 17 8%0A17 33 0 129 120 247 251 247 75 0 177 -56 209 -114 7 -14 19 -26 25 -26 16 0%0A718 190 724 195 7 8 -99 326 -166 495 -63 161 -268 590 -281 590 -4 0 -194%0A-109 -422 -241z'/%3E%3Cpath d='M250 6216 c0 -2 -14 -64 -30 -137 -62 -269 -103 -580 -116 -876 l-7%0A-153 2202 0 c1924 0 2201 2 2201 15 0 8 -17 19 -42 25 -24 7 -158 42 -298 80%0A-399 107 -377 103 -414 89 -43 -15 -81 -5 -114 31 -24 25 -59 37 -287 98 -501%0A135 -463 127 -483 110 -30 -27 -80 -48 -112 -48 -64 0 -130 51 -145 113 -4 14%0A-14 27 -23 30 -10 2 -263 70 -564 151 l-547 148 -50 -50 c-96 -96 -225 -108%0A-333 -31 -44 31 -87 105 -94 160 -8 57 38 39 -394 154 -179 47 -331 88 -337%0A90 -7 2 -13 3 -13 1z'/%3E%3Cpath d='M9650 6190 c-36 -10 -194 -53 -351 -95 l-287 -77 -6 -48 c-9 -65 -58%0A-136 -120 -175 -44 -27 -58 -30 -125 -30 -89 0 -126 16 -187 81 l-41 43 -409%0A-109 c-225 -61 -479 -128 -564 -151 l-155 -41 -22 -48 c-43 -98 -159 -118%0A-245 -43 -14 13 -48 6 -295 -60 -153 -42 -316 -85 -363 -98 -63 -16 -92 -29%0A-112 -50 -32 -35 -72 -46 -112 -30 -28 10 -71 1 -393 -86 -241 -64 -363 -101%0A-363 -110 0 -11 403 -13 2201 -13 l2202 0 -7 153 c-13 287 -50 575 -107 837%0A-16 74 -32 143 -35 153 -7 21 -21 21 -104 -3z'/%3E%3Cpath d='M104 4798 c9 -197 30 -404 61 -593 24 -149 81 -414 90 -424 7 -6 371%0A87 681 174 l51 15 6 51 c24 199 273 289 416 150 21 -20 43 -45 48 -55 10 -18%0A23 -15 279 53 519 140 779 210 822 221 26 6 42 17 42 26 0 8 9 33 20 54 22 44%0A80 80 127 80 37 -1 108 -33 121 -56 9 -16 36 -11 358 76 192 51 359 96 371%0A101 12 4 24 17 28 29 7 23 53 50 85 50 12 0 34 -7 50 -15 27 -14 47 -10 379%0A79 193 52 355 97 360 101 6 3 8 12 4 20 -4 13 -280 15 -2206 15 l-2200 0 7%0A-152z'/%3E%3Cpath d='M5500 4932 c0 -16 53 -33 358 -114 329 -88 359 -95 384 -82 50 26%0A109 10 133 -36 10 -20 28 -29 82 -43 37 -10 203 -54 367 -98 271 -73 300 -79%0A309 -64 12 22 84 54 120 55 47 0 105 -36 127 -80 11 -21 20 -45 20 -52 0 -9%0A43 -25 118 -45 908 -247 1016 -273 1026 -256 34 65 137 123 217 123 120 0 231%0A-99 246 -218 4 -34 11 -52 22 -55 475 -128 712 -189 716 -186 9 10 66 277 90%0A424 31 189 52 396 61 593 l7 152 -2202 0 c-2125 0 -2201 -1 -2201 -18z'/%3E%3Cpath d='M5460 4807 c0 -17 46 -45 735 -442 444 -256 633 -365 785 -453 280%0A-162 456 -264 690 -399 124 -71 295 -170 380 -219 85 -50 277 -160 425 -246%0A149 -86 387 -224 530 -306 143 -83 263 -148 268 -143 16 16 186 362 235 479%0A81 193 219 588 209 598 -4 4 -707 194 -719 194 -5 0 -31 -22 -58 -49 -153%0A-153 -391 -75 -428 140 l-7 42 -230 63 c-804 217 -910 244 -913 234 -6 -17%0A-79 -50 -109 -50 -55 1 -111 35 -135 84 -12 25 -31 49 -42 52 -10 4 -175 48%0A-365 99 -321 87 -347 93 -372 79 -16 -8 -37 -14 -49 -14 -32 0 -75 26 -87 52%0A-9 20 -50 33 -364 117 -195 52 -360 96 -366 99 -7 2 -13 -3 -13 -11z'/%3E%3Cpath d='M4150 4715 c-190 -52 -346 -99 -349 -106 -15 -45 -75 -67 -132 -49%0A-41 14 -85 4 -734 -172 -23 -6 -37 -19 -53 -53 -15 -31 -33 -50 -61 -65 -54%0A-27 -94 -25 -152 6 l-49 27 -177 -47 c-290 -78 -917 -246 -935 -252 -10 -3%0A-18 -15 -18 -28 0 -49 -34 -120 -77 -162 -71 -69 -163 -90 -257 -58 -47 16%0A-118 74 -128 104 -4 12 -73 -4 -374 -84 -203 -54 -370 -99 -371 -100 -11 -9%0A129 -409 209 -598 52 -123 219 -463 237 -481 6 -6 61 20 148 71 76 44 300 173%0A498 288 198 114 497 287 665 384 168 97 514 297 770 445 256 148 605 349 775%0A448 171 98 455 263 633 365 177 102 322 192 322 199 0 7 -10 13 -22 12 -13 0%0A-178 -43 -368 -94z'/%3E%3Cpath d='M4449 4616 c-79 -46 -272 -157 -429 -248 -157 -91 -562 -325 -900%0A-520 -338 -195 -820 -474 -1070 -618 -250 -145 -630 -364 -845 -488 -214 -123%0A-396 -230 -403 -237 -11 -10 -5 -27 39 -96 165 -266 385 -551 576 -750 l82%0A-85 269 269 269 269 -19 51 c-52 135 27 291 166 328 49 13 133 6 173 -14 l29%0A-16 411 412 411 412 -4 50 c-9 98 64 171 162 162 l51 -5 267 266 c195 196 266%0A273 266 290 0 54 48 102 103 102 16 0 101 79 291 269 147 147 264 271 259 274%0A-5 3 -74 -31 -154 -77z'/%3E%3Cpath d='M5396 4692 c-8 -14 521 -537 547 -540 65 -9 107 -49 107 -104 0 -17%0A72 -95 266 -290 l266 -266 52 5 c98 9 171 -63 162 -162 l-4 -50 410 -411 410%0A-411 52 19 c134 52 290 -27 327 -166 13 -49 6 -133 -15 -173 l-15 -30 270%0A-269 270 -270 82 85 c94 98 256 291 342 407 119 160 285 413 285 433 0 5 -96%0A64 -212 132 -117 67 -249 143 -293 169 -44 26 -204 118 -355 205 -151 87 -372%0A214 -490 283 -118 68 -305 176 -415 239 -110 64 -240 139 -290 168 -49 29%0A-191 111 -315 182 -608 351 -1216 702 -1314 759 -111 66 -121 70 -130 56z'/%3E%3Cpath d='M4419 4344 c-162 -162 -265 -273 -267 -287 -9 -66 -36 -95 -99 -106%0A-26 -5 -87 -60 -298 -271 l-265 -264 6 -47 c8 -57 -14 -109 -60 -142 -24 -17%0A-45 -22 -94 -22 l-63 -1 -409 -409 -409 -409 17 -30 c11 -21 17 -55 17 -106 0%0A-64 -4 -82 -28 -123 -33 -55 -93 -102 -151 -118 -49 -13 -133 -6 -173 15 l-30%0A15 -264 -265 c-145 -146 -266 -267 -268 -270 -16 -17 304 -295 541 -470 102%0A-75 353 -239 380 -249 8 -3 156 245 423 708 226 391 580 1006 789 1367 500%0A866 597 1033 676 1170 36 63 120 210 187 325 139 240 139 240 120 248 -9 3%0A-107 -88 -278 -259z'/%3E%3Cpath d='M5300 4597 c0 -7 53 -105 118 -217 353 -611 904 -1565 1355 -2345%0A104 -181 270 -467 367 -635 97 -168 216 -374 264 -457 48 -84 92 -153 98 -153%0A16 0 261 159 376 244 237 175 557 453 541 470 -2 3 -123 124 -268 270 l-264%0A265 -30 -15 c-40 -21 -124 -28 -173 -15 -139 37 -218 193 -166 327 l19 52%0A-411 410 -411 411 -46 -6 c-34 -4 -55 0 -86 15 -59 30 -78 65 -78 140 l-1 63%0A-264 265 c-193 192 -271 264 -288 264 -55 0 -95 42 -104 107 -3 22 -522 553%0A-540 553 -4 0 -8 -6 -8 -13z'/%3E%3Cpath d='M4782 4508 c-30 -51 -172 -296 -499 -863 -165 -286 -468 -810 -673%0A-1165 -205 -355 -405 -701 -445 -770 -40 -69 -181 -313 -314 -543 -133 -230%0A-244 -424 -247 -431 -7 -18 376 -207 586 -289 172 -68 487 -173 495 -165 6 6%0A195 709 194 722 0 6 -19 25 -42 41 -80 59 -115 175 -82 276 32 95 133 169 232%0A169 22 0 33 5 33 14 0 13 72 284 244 924 l53 194 -28 29 c-69 74 -41 193 53%0A234 24 10 45 20 47 22 2 2 48 164 101 360 l96 358 -18 30 c-32 54 -14 122 40%0A144 27 11 31 22 121 364 52 194 94 356 95 361 3 23 -24 13 -42 -16z'/%3E%3Cpath d='M5182 4528 c3 -7 47 -172 99 -367 84 -314 97 -355 117 -364 26 -12%0A52 -55 52 -87 0 -12 -6 -33 -14 -48 -13 -25 -7 -55 83 -391 l97 -363 40 -19%0Ac48 -23 70 -49 85 -99 15 -49 5 -101 -26 -134 l-24 -26 91 -338 c50 -185 118%0A-440 152 -567 l63 -230 44 -7 c100 -17 185 -91 210 -181 25 -93 -12 -206 -86%0A-263 -19 -14 -35 -32 -35 -38 0 -13 189 -718 194 -723 2 -2 75 20 162 48 288%0A93 557 205 801 335 l124 65 -19 32 c-11 18 -115 199 -232 402 -118 204 -294%0A510 -393 680 -98 171 -249 432 -335 580 -86 149 -235 407 -332 575 -97 168%0A-263 454 -367 635 -290 503 -478 826 -503 868 -20 34 -58 54 -48 25z'/%3E%3Cpath d='M5063 4503 c-10 -4 -13 -454 -13 -2205 l0 -2201 153 7 c296 13 607%0A54 876 116 73 16 135 30 137 30 10 0 -1 44 -91 378 -52 194 -95 355 -95 357 0%0A3 -13 5 -28 5 -124 0 -242 122 -242 250 0 77 59 182 122 216 16 9 10 38 -72%0A344 -49 184 -118 439 -152 567 l-62 231 -33 7 c-19 3 -49 21 -68 40 -57 58%0A-59 147 -5 206 l30 31 -97 365 c-87 325 -101 367 -121 376 -26 12 -52 55 -52%0A87 0 12 6 33 14 48 13 25 10 41 -29 187 -24 88 -66 248 -95 355 -29 107 -55%0A198 -59 201 -3 4 -12 4 -18 2z'/%3E%3Cpath d='M4827 4138 c-87 -323 -96 -366 -86 -394 16 -40 5 -80 -30 -112 -23%0A-22 -35 -53 -64 -162 -20 -74 -63 -237 -97 -363 l-61 -227 28 -37 c23 -30 28%0A-47 28 -92 0 -70 -27 -112 -89 -137 l-44 -18 -41 -156 c-23 -85 -90 -339 -151%0A-564 l-109 -409 43 -41 c65 -61 81 -98 81 -187 0 -67 -3 -81 -30 -125 -39 -62%0A-110 -111 -175 -120 -32 -4 -50 -12 -53 -23 -135 -501 -189 -712 -184 -717 11%0A-11 254 -63 412 -89 189 -31 396 -52 593 -61 l152 -7 0 2202 c0 1808 -2 2201%0A-13 2201 -9 0 -45 -120 -110 -362z'/%3E%3C/g%3E%3C/svg%3E%0A");
      border-radius: 100px;
      border-radius: 100px;

      .nav__link {
        display: block;
        height: 100%;
      }
    }

    .nav__link-wrap {
      @include bp-max(sm) {
        @include flex-container(column nowrap flex-start items-center);
        position: absolute;
        top: -400px;
        left: 0;
        align-self: flex-start;
        width: 100%;
        overflow: hidden;
        color: transparent;
        background-color: $main-color;
        transition: 0.3s ease-in-out;
      }

      @include bp-min(md) {
        @include flex-container(row wrap flex-start items-center);
      }

      .nav__link {
        padding: 0 20px;
        line-height: 80px;
        text-transform: uppercase;
        transition: 0.2s ease;

        &.nav__link--active {
          font-weight: bold;
        }
        @include bp-max(sm) {
          width: 100%;
          color: transparent;
        }
        @include bp-min(md) {
          color: $white;
        }
      }
    }

    .nav__download-wrap {
      @include bp-max(sm) {
        position: relative;
      }
      @include bp-min(md) {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
      }

      .button {
        position: relative;
        .icon {
          position: absolute;
          color: white;
          font-size: 24px;
          @include centeringXY;
        }
      }
    }

    .nav__toggle-wrap {
      display: none;
      @include bp-max(sm) {
        position: absolute;
        top: 50%;
        right: 15px;
        display: block;
        transform: translateY(-50%);
      }

      .button {
        position: relative;
        border: 0;
        .icon {
          position: absolute;
          color: white;
          font-size: 24px;
          @include centeringXY;
        }
      }
    }
  }
}

#content {
  min-height: 100vh;
  padding-top: 80px;

  .section {
    .inner {
      max-width: $bp-max-xl;
      margin: 0 auto;
    }
  }

  .code-wrap {
    position: relative;
    height: max-content;
    padding: 15px;
    background-color: $base-color-grey-0;

    code {
      position: relative;
      padding-left: 15px;
    }

    .button {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $black;
      background-color: $white;
    }
  }
}

#footer {
  @include container;
  color: $white;
  background-color: $black;

  .inner {
    max-width: $bp-max-xl;
    margin: 0 auto;
    padding: 40px 0;
  }
}
/* END : style.scss */
