@mixin button($font-size: 1.6rem, $height: 2rem, $padding: 1.6rem, $radius: 0) {
  min-height: $height;
  padding: $padding;
  font-size: $font-size;
  @if ($radius != 0) {
    border-radius: $radius;
  }

  @content;
}
