@mixin button($font-size: rem(14), $padding: rem(0) rem(12), $radius: 0) {
  padding: $padding;
  font-size: $font-size;
  min-height: 2rem;
  line-height: 2rem;
  @if ($radius != 0) {
    border-radius: $radius;
  }

  @content;
}
