extends ../../templates/layouts/base
block header
  +header('index')
block content
  section.section.section-main
    .inner
      .img
        .glow
      .txt-wrap
        h1.section__title SUPER-ATOM-UI
        p UI framework for ui developer
        p Not for general users
  section.section.section-installation
    .inner
      .txt-wrap
        h2.section__title Installation
        p Package managed installs don’t include documentation or our full build scripts.
        a.button(href='/docs.html', data-type='outlined') Read installation docs
      .code-wrap
        code git clone https://github.com/super-atom/super-atom-ui
        button.button(data-type='outlined') copy
  section.section.section-feature
    .inner
      .txt-wrap
        h2.section__title SUPER-ATOM-UI feature
        ul
          li Modern Frontend ToolKits
          li Easy Customization
          li Anti Utility Class. Decoupling html & css. Lots of useful mixins. Using mixin!
  section.section.section-boilerplate
    .inner
      .txt-wrap.js_gsap_target
        h2.section__title Boilerplate
        ul
          li Typescript + ESnext (with Babel)
          li Webpack v5
          li Pug
          li Sass + PostCSS
          li Stylelint + Prettier + ESLint
  section.section.section-guide
    .inner
      .txt-wrap.js_gsap_target
        h2.section__title Guide
        p SUPER-ATOM-UI is just modern frontend boilerplate + 'SUPER ATOMIC DESIGN' guide. That's All!
        p Use the rest and make the rules.
