@import '../../styles/core.scss';

#content {
  .section {
    @include container;

    .inner {
      max-width: $bp-max-xl;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
    }
  }

  .section-main {
    position: relative;
    height: 80vh;
    margin-bottom: 15px;
    @include background('../../assets/images/vitruvius.jpg');
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
      content: '';
    }

    .inner {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .img {
      position: relative;
      width: 300px;
      height: 400px;
      border-radius: 10px;
      box-shadow: 0px 1px 5px $black;
      transform: rotate3d(0);
      cursor: pointer;
      transition-timing-function: ease-out;
      transition-duration: 300ms;
      transition-property: transform, box-shadow;
      @include background('../../assets/images/monalisa.jpg');

      &:hover {
        box-shadow: 0 5px 20px 5px #00000044;
        transition-duration: 150ms;
      }

      .glow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-image: radial-gradient(
          circle at 50% -20%,
          #ffffff22,
          #0000000f
        );
        border-radius: 10px;
      }
    }

    .txt-wrap {
      position: absolute;
      top: 85%;
      left: 50%;
      color: $white;
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }

  .section-installation {
    .inner {
      @include lost-center-set;
      & > div {
        @include bp-max(sm) {
          margin-bottom: 15px;
          lost-column: 1/1;
        }
        @include bp-min(md) {
          lost-column: 1/2;
        }
      }
    }
    .txt-wrap {
      .button {
        margin-top: 10px;
      }
    }

    .code-wrap {
      code {
        &::before {
          @include pseudo($content: '$');
          left: 0;
        }
      }
    }
  }
}
