@import '../../styles/dev-core.scss';

#content {
  .section {
    @include container;

    .inner {
      max-width: $bp-max-xl;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
    }
  }

  .section-main {
    position: relative;
    height: 50vh;
    margin-top: 100px;
    margin-bottom: 15px;

    .img {
      position: relative;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 100%;
      border-radius: 10px;
      transform: translate(-50%, -50%);
      @include background('../../assets/images/index.jpg', $position: 50% 10%);
    }

    .txt-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }

  .section-installation {
    .inner {
      @include lost-center-set;
      & > div {
        @include bp-max(sm) {
          margin-bottom: 15px;
          lost-column: 1/1;
        }
        @include bp-min(md) {
          lost-column: 1/2;
        }
      }
    }
    .txt-wrap {
      .button {
        margin-top: 10px;
      }
    }

    .code-wrap {
      position: relative;
      padding: 20px;
      background-color: $base-color-grey-0;

      code {
        position: relative;
        padding-left: 15px;
        &::before {
          @include pseudo($content: '$');
          left: 0;
        }
      }

      .button {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: white;
      }
    }
  }
}
