extends ../../templates/layouts/base
block header
  +header('index')
block content
  section.section.section-main
    .inner
      .txt-wrap
        h1 SUPER-ATOM-UI
        p UI framework for ui developer
        p Not for general users
      .img
  section.section.section-installation
    .inner
      h2 Installation
      p Package managed installs don’t include documentation or our full build scripts.
  section.section.section-feature
    .inner
      h2 SUPER-ATOM-UI feature
      .txt-wrap
        ul
          li Modern Frontend ToolKits
          li Easy Customization
          li Lots of useful mixins. Anti Utility Class. Decoupling html & css. Using mixin!
  section.section.section-boilerplate
    .inner
      h2 Boilerplate
      .txt-wrap
        ul
          li Typescript + ESnext (with Babel)
          li Webpack v5
          li Pug
          li Sass + PostCSS
          li Stylelint + Prettier + ESLint
  section.section.section-design
    .inner
      h2 Design
      .txt-wrap
        ul
          li Super Atomic Design
          li Theme
  section.section.section-design
    .inner
      h2 Guide
      p SUPER-ATOM-UI is just modern frontend boilerplate + 'SUPER ATOMIC DESIGN' guide. That's All!
      p Use the rest and make the rules.
