extends ../../layouts/base
block header
  +header('core')

block content
  .wrapper
    .section
      .view
        .inner 
          h1.title 코어는 2가지 버전이 있다. 하나는 scss로 작성된 버전, 그리고 표준 CSS 으로 작성된 버전이다.
          p 장기적인 측면에서는 표준 CSS로 작성된 core-standard의 사용을 권장한다.
          p.text-test Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, porro provident neque expedita consectetur omnis voluptatem praesentium doloremque ipsum pariatur rerum, nesciunt eius eaque harum placeat alias non exercitationem? Repudiandae!
          p.text-one one!
          p.text-two two!
          p.text-three three!
