extends ../../templates/layouts/base
include ../../templates/includes/header
block content
  section.section.section-main
    .inner
      div
        h1.section__title Introduction
      div
        h2 Art of cascading style sheet
        p Super atomic design do not enforce rules.
        p This is the pride of my(super-atom) work style Guidelines.
        p I proudly suggest this.
      div
        h2 About SUPER ATOMIC DESIGN
        p Super atom design absorbed ABEM. ABEM = Atomic Design + BEM. ABEM is a loose CSS Architecture.
        p Too many changes make it difficult for us. Therefore, I borrow tools that are universally agreed upon. As you know, there is no need to reinvent the wheel.
        p Super atomic design will track changes in the front-end ecosystem, absorbing the tools it deems most appropriate.
      div
        h2 CSS is easy
        p Don't whine about CSS being difficult.
        p CSS is literally Cascading Style Sheet.
        p You just need to understand the rules well and use them correctly.
        p If you feel this is difficult, you are just hoping for a luck.
      div
        h2 UI framework for ui developer
        p SUPER-ATOM-UI is not for general users. First of all, you need to understand CSS well. It basically, it serves as a boilerplate for ui developers. After that, it's up to you to follow Super atomic design or not. Follow me when you're ready.
      div
        h2 Background
        p The basis of the front-end is html, css, and js. You should be familiar with these specifications.
        p We look at the text on the screen. The number of every letter has that much information.
        p We try to reduce this number of letters and duplicates. That's how tools such as pug and sass came out. And I try to shorten the time for naming. So a methodology like bem came out.
        p JavaScript is prone to human errors due to the design direction and the characteristics of the runtime language. So TypeScript was came out.
        p These are things for improvement. So, it would be better to use it.
        p We often find it difficult to dedicate time to markup and style. That's why UI frameworks like Bootstrap came out.
        p Sometimes you don't want to use the ui framework. You will probably make it yourself. Just like what I'm doing right now.
        p SUPER-ATOM-UI makes sense just to inspire others.
        p When we build complex web apps, we don't want to manipulate the dom directly anymore. So Javascript UI frameworks like react came out.
        p In the end, we have no choice but to use the ui framework based on the javascript ui framework.
        p This process requires a lot of paperwork and understanding.
        p Can you understand and control all of this? Aren't you proud of your build that has turned into a monster without realizing it?
        p SUPER-ATOM-UI minimize dependencies by taking only what I need in common.
      div
        h2 Super Atomic Design Guide
        p Don't do magic : Leave elements that do not require naming as elements.
        p Don't let duplicates : Use inheritance as the essence of css. If you're going to make a mistake, use the tools to create a flow.
        p Don't rely on one thing : Make replacements easy with replacements in mind.
        p Using mixin : Trust SUPER-ATOM-UI and use it. This is the result of long consideration. If you don't believe it, analyze the code.
