@import './_variables_breakpoint.scss';
@import './_variables_typeface';
@import '../functions/_functions_unit';

// *Root Font Size
// Root
$root-font-size: unit(16px);

// Body Default Settings
$body-text-color: $base-color-grey-7;
$body-font-size: unit(13px);
$body-font-weight: 400;
$body-font-family: $base-font;
$body-letter-spacing: $base-font-letter-spacing;
$body-line-height: 1.5;
$body-background-color: $white;

// *Responsive Base Element Font Size
$base-font-sizes: (
  $bp-min-xs: (
    unit(12px),
  ),
  $bp-min-sm: (
    unit(13px),
  ),
  $bp-min-md: (
    unit(14px),
  ),
  $bp-min-lg: (
    unit(16px),
  ),
);

$base-font-sizes-title: (
  $bp-min-xs: (
    unit(16px),
  ),
  $bp-min-sm: (
    unit(18px),
  ),
  $bp-min-md: (
    unit(20px),
  ),
  $bp-min-lg: (
    unit(24px),
  ),
);

// *Responsive Base Element Font Size : Paragraph
$base-font-sizes-p: (
  $bp-min-xs: (
    unit(12px),
  ),
  $bp-min-sm: (
    unit(13px),
  ),
  $bp-min-md: (
    unit(14px),
  ),
  $bp-min-lg: (
    unit(16px),
  ),
);

// Responsive Base Size Map
$base-font-sizes-content: (
  $bp-min-xs: (
    unit(12px),
  ),
  $bp-min-sm: (
    unit(12px),
  ),
  $bp-min-md: (
    unit(13px),
  ),
  $bp-min-lg: (
    unit(13px),
  ),
);
