@import './_variables_breakpoint.scss';
@import './_variables_typeface';

//* Unit Base Font Size
$base-em-size: 16px !default;
$base-rem-size: 16px !default;

// *Root Font Size
// Root
$root-font-size: rem(16px);

// Body Default Settings
$body-text-color: $base-color-grey-7;
$body-font-size: rem(16px);
$body-font-weight: 400;
$body-font-family: $base-font;
$body-letter-spacing: $base-font-letter-spacing;
$body-line-height: 1.5;
$body-background-color: $white;

// *Responsive Base Heading Element Font Size
$base-font-sizes-h1: (
  $bp-min-xs: (
    1.2rem
  ),
  $bp-min-md: (
    1.5rem
  ),
  $bp-min-lg: (
    2rem
  ),
);
$base-font-sizes-h2: (
  $bp-min-xs: (
    1rem
  ),
  $bp-min-md: (
    1.2rem
  ),
  $bp-min-lg: (
    1.5rem
  ),
);
$base-font-sizes-h3: (
  $bp-min-xs: (
    0.9rem
  ),
  $bp-min-md: (
    1.1rem
  ),
  $bp-min-lg: (
    1.3rem
  ),
);
$base-font-sizes-h4: (
  $bp-min-xs: (
    0.8rem
  ),
  $bp-min-md: (
    1rem
  ),
  $bp-min-lg: (
    1.17rem
  ),
);
$base-font-sizes-h5: (
  $bp-min-xs: (
    0.8rem
  )
);
$base-font-sizes-h6: (
  $bp-min-xs: (
    0.8rem
  )
);

// *Responsive Base Custom Font Size
$base-font-sizes: (
  $bp-min-xs: (
    rem(12px),
  ),
  $bp-min-md: (
    rem(14px)
  ),
  $bp-min-lg: (
    rem(16px)
  ),
);

$base-font-sizes-title: (
  $bp-min-xs: (
    rem(16px)
  ),
  $bp-min-md: (
    rem(24px)
  ),
  $bp-min-lg: (
    rem(32px)
  ),
);
