@import '../core';

.button,
button {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.button,
button,
input,
textarea,
select {
  transition: 0.3s ease-out;
}

input,
textarea,
select {
  background-color: $white;
  border: 1px solid $base-grey;
}
