/* START : common.scss */
@import './dev-core';
@import './base/base';
@import './_config';
/* END : common.scss */

body {
  font-family: $main-font;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}

.content {
  margin-top: 60px;
}

.nav {
  z-index: 100;
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: $bp-max-xl;
  transform: translateX(-50%);

  .nav__link {
    padding: 20px;

    &:first-of-type {
      margin-left: 100px;
    }

    &.nav__link--active {
      color: $main-color;
    }
  }
}

.img {
  @include rwd-img();
}

.footer {
  padding: 100px;
  color: white;
  background-color: #333;
}
