/* START : common.scss */
@import './dev-core';
@import './base/base';
@import './_config';
/* END : common.scss */

.nav {
  z-index: 100;
  position: absolute;
  top: 100px;
  right: 0;
  background-color: #eee;

  .nav__link {
    display: flex;
    display: block;
    padding: 20px;
  }
}
