@import '../../assets/styles/dev-core.scss';

html {
  --color: #eee;
}

body {
  lost-utility: overlay 1600px 12 20px var(--color);
}

.wrap {
  lost-utility: edit;
  lost-center: 1600px;

  div {
    lost-utility: edit rgba(15, 150, 25, 0.5);
    lost-column: 1/3;
  }
}

.nav {
  z-index: 100;
  position: absolute;
  top: 100px;
  background-color: #eee;

  .nav__link {
    display: flex;
    display: block;
    padding: 20px;
  }
}

.section {
  .desc {
    padding: 100px 0;
  }
}

.section-main {
  position: relative;
  height: 100vw;

  .img {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

.img {
  @include rwd-img();
}

.footer {
  padding: 100px;
  color: white;
  background-color: #333;
}
