extends ../../templates/layouts/base
block header
  +header('index')
block content
  section.section.section-main
    img.img.responsive(src=DATA.body.image)
  section.section.wrap
    .desc Lorem ipsum
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    img.img.responsive(src=DATA.body.image)
  section.section.wrap
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    img.img.responsive(src=DATA.body.image)
  section.section.wrap
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    img.img(src='assets/images/contact.jpg')
  footer.footer Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nemo laboriosam odit necessitatibus magnam, accusamus vel molestiae libero tenetur aliquid, deleniti ratione amet? Nobis laboriosam ut, illum quo quibusdam laudantium?
