extends ../../templates/layouts/base
block header
  +header('index')
block content
  section.section.section-main
    img.img.responsive(src=DATA.body.image)
  section.section.section-second
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
    .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima culpa rerum nobis tempore odit iste quos, facere ducimus sunt placeat ullam maxime accusamus ex totam, in asperiores consequatur porro. Totam?
