@import '../../assets/styles/common.scss';

.section {
  .desc {
    padding: 100px 0;
  }
}

.section-main {
  position: relative;
  height: 100vw;

  .img {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

.footer {
  padding: 100px;
  color: white;
  background-color: #333;
}
