@mixin input($font-size: rem(14), $padding: rem(10), $radius: rem(3)) {
  box-sizing: border-box;
  min-height: rem(39);
  margin-bottom: rem(10);
  padding: $padding;
  font-size: $font-size;
  font-family: inherit;
  vertical-align: middle;
  background-color: $white;
  border: rem(1) solid $state-normal;
  border-radius: $radius;
  outline: none;

  &:focus {
    border-color: $state-focus;
  }

  &:disabled {
    background-color: $state-disabled;
    cursor: not-allowed;
  }

  @content;
}
