@import '../../variables/variables_color';
@mixin table($padding: 2%) {
  display: table;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 8rem 0;
  overflow: hidden;
  text-align: left;

  tbody,
  thead {
    border: 1px solid $body-text-color;
  }

  thead {
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
  }

  td {
    padding-top: $padding;
    padding-bottom: $padding;
    padding-left: $padding;
    font-weight: normal;
    font-size: 1rem;
  }

  th {
    padding-top: $padding;
    padding-bottom: $padding;
    padding-left: $padding;
  }
}
