mixin footer
  footer#footer.footer
    .inner
      .txt-wrap
        h1 SUPER-ATOM-UI
        p
          span Code licensed_
          a(href='https://github.com/twbs/bootstrap/blob/main/LICENSE') MIT_
          a(href='https://creativecommons.org/licenses/by/3.0/') docs CC BY 3.0.
