@import '../../themes/themes';

@mixin themable($theme-name: null, $theme-map) {
  body[data-theme='#{$theme-name}'] {
    @each $section, $map in $theme-map {
      .#{$section} {
        @if ($section == header) {
          background-color: map-get($map, bg);
        }
        @if ($section == button) {
          border-color: $base-grey;
          &[disabled] {
            color: darken(
              alt-color($state-disabled, map-deep-get($theme-map, color, sub)),
              30%
            );
            background-color: $state-disabled;
          }
          &[data-type='contained'] {
            color: map-deep-get($theme-map, color, sub);
            background-color: map-deep-get($theme-map, color, main);
            border-color: map-deep-get($theme-map, color, main);
          }

          &[data-type='outlined'] {
            color: map-deep-get($theme-map, color, main);
            border-color: map-deep-get($theme-map, color, main);
          }
          &[data-type='round'] {
            color: map-deep-get($theme-map, color, sub);
            background-color: map-deep-get($theme-map, color, main);
            border-color: map-deep-get($theme-map, color, main);
          }
          &[data-type='round-reverse'] {
            color: map-deep-get($theme-map, color, main);
            border-color: map-deep-get($theme-map, color, main);
          }
        }
      }
    }
  }
}
