block variables
- var DATA = self.htmlWebpackPlugin.options.DATA;

doctype html
html.index(lang='pl', dir='ltr')
  include ../includes/head.pug
  include ../includes/header.pug
  include ../includes/footer.pug

  head
    block head
      +head(DATA)

  body#body.body(data-theme='')
    block header
      +header
    #content.content
      block content
    +footer
