include ../atoms/button.pug
include ../includes/head.pug
include ../includes/header.pug
include ../includes/footer.pug
include ../mixins/mixins_list.pug
block variables
- var DATA = self.htmlWebpackPlugin.options.DATA;

doctype html
html.index(lang='ko', dir='ltr')
  head
    block head
      +head(DATA)

  body#body.body(data-theme='')
    block header
      +header
    #content.content
      block content
    +footer
