/* START : common.scss */
@import './dev-core';
@import './base/base';
@import './_config';
@import './settings/settings';

@lost gutter 20px;
@lost flexbox flex;

// ::-webkit-scrollbar {
//   display: none;
// }

#header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid $body-text-color;
}

#nav {
  z-index: 100;
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: $bp-max-xl;
  transform: translateX(-50%);

  .nav__link {
    padding: 20px;
    line-height: 40px;

    &:first-of-type {
      margin-left: 100px;
    }

    &.nav__link--active {
      color: $main-color;
    }
  }
}

#content {
  margin-top: 80px;
  min-height: 100vh;
}

.button + .button {
  margin-left: 20px;
}

.footer {
  margin-top: 100px;
  padding: 100px;
  color: white;
  background-color: #333;
}
/* END : common.scss */
